<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="module" src="/scripts/effects.js"></script>
<script>
    function hideLoader(){
  $('.page-loader').fadeOut('slow');
}
  </script>
</body>
</html>